<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myportfoy">
<uses-permission android:name="android.permission.INTERNET"> </uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Myportfoy">
        <activity
            android:name=".ui.BaslangicEkraniActivity">

        <intent-filter>
              <action android:name="android.intent.action.MAIN" />

              <category android:name="android.intent.category.LAUNCHER" />
          </intent-filter>

      </activity>

          <activity android:name=".ui.LoginActivity">   </activity>
        <activity android:name=".ui.HomepageActivity">   </activity>
        <activity android:name=".ui.KisiselNotEkleActivity"> </activity>
        <activity android:name=".ui.MusteriListesiActivity">   </activity>
        <activity android:name=".ui.TarihselListeActivity">   </activity>
        <activity android:name=".ui.YeniKayitActivity">   </activity>
        <activity android:name=".ui.MainActivity">   </activity>
        <activity android:name=".ui.KisiselNotlarListeActivity">   </activity>
        <activity android:name=".ui.KisiselNotlarActivity">   </activity>
        <activity android:name=".ui.NotDetayActivity">   </activity>
        <activity android:name=".ui.KayitDetayActivity">   </activity>
        <activity android:name=".ui.ForgotPasswordActivity">   </activity>











    </application>

</manifest>